# ============================
# Build artifacts
# ============================
*.o
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.elf
*.obj

# ============================
# Debug / symbols
# ============================
*.dSYM/
*.pdb
*.idb
*.su
*.dwo

# ============================
# Dependency files
# ============================
*.d

# ============================
# Build directories
# ============================
build/
dist/

# ============================
# Tests binaries
# ============================
test_*

# ============================
# Tooling
# ============================
compile_commands.json

# ============================
# IDE
# ============================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ============================
# Logs
# ============================
*.log
logs/*.log
